{% extends "visualizer/base.html" %}
{% block main %}
    {{ template }}
{% endblock %}
{% block tree %}
    {{ tree_template }}
{% endblock %}
{% block workspace %}
	<h2>Workspace: {{ active_workspace.tag }}</h2>
    <ul>
        <li>Active data source: {{ active_workspace.active_data_source.name }} <a href="/config/{{ active_workspace.active_data_source.name }}">configure</a></li>
        <li>Active visualizer: {{ active_workspace.active_visualizer.name }}</li>
    </ul>
    <form action="/workspace/{{ active_workspace.tag }}/plugins/" method="post">
        {% csrf_token %}
        <label>
            Change data source:
            <select name="source">
                {% for plugin in data_source_plugins %}
                    <option value={{ plugin.name }}>{{ plugin.name }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            Change visualizer:
            <select name="visualizer">
                {% for plugin in visualizer_plugins %}
                    <option value={{ plugin.name }}>{{ plugin.name }}</option>
                {% endfor %}
            </select>
        </label>
        <button type="submit">Change</button>
    </form>
    <form action="/workspace/{{ active_workspace.tag }}/add_filter/" method="post">
        {% csrf_token %}
    <label>
        Filter:
        <input type="text" name="filter">
        <button type="submit">Apply</button>
    </label>
    </form>
     <div id="graph-container" style="width: 100%; height: 600px">

        <div class="container">
            <div class="container2" style="width: 2000px; height: 1500px">
                <svg id="tree-svg">
                    <g transform="translate(50,-300)">
                    </g>
                </svg>
            </div>
        </div>

        <div id="graph-outline"></div>
         <div id="details"></div>
        
    </div>
{% endblock %}
