{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple View Plugin</title>
    <link rel="stylesheet" href="{% static 'simple_view_visualizer_plugin/simple_view.css' %}">
</head>
<body>
    <div class="simple-view-graph">

        {% for node in graph_data %}
            <div class="graph-node">
                {{ node }}
            </div>
        {% endfor %}
    </div>
</body>
</html>