<head>
    <link rel="stylesheet" type="text/css" href="../../static/styles.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../../static/d3.js"></script>
    <title>Main view</title>
</head>
<body>
    <div class="graph-container">
        {% for node in graph.nodes %}
            <p class="node" id="node{{ node.node_id }}">ID: {{ node.node_id }}</p>
        {% endfor %}
        <svg id="graph-svg"></svg>
    </div>
</body>
